<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Socket.IO chat</title>

    <style>
        #users li.collection-item {
            cursor: pointer;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <main class="container">
        <div class="row">
            <aside class="col l3">
                <ul id="users" class="collection with-header">
                    <li class="collection-header">Пользователи</li>
                </ul>
            </aside>
            <section class="col l9">
                <ul id="messages" class="collection with-header"></ul>
            </section>
        </div>

        <div class="row">
            <form action="">
                <div class="row">
                    <div class="input-field col l8">
                        <input id="m" type="text" autocomplete="off" />
                        <label for="m">Сообщение</label>
                    </div>
                    <div class="col l3">
                        <button id="send-mes" class="waves-effect waves-light btn-large">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {

            var socket = io();

            $('form').submit(function () {

                var to = $('#users li.active').attr('id');
                var text = $('#m').val();

                var message = {};
                message.to = to;
                message.text = text;

                socket.emit('on_chat_message', message);
                $('#m').val('');

                return false;
            });

            socket.on('on_everyone_message', function (msg) {
                $('#messages').append('<li class="collection-item">' + msg + '</li>');
            });

            socket.on('connected_user', function (data) {
                $('#users').append('<li id=' + data.userId +
                    ' class="collection-item">' + data.userId + '</li>');
            });

            socket.on('connect_users', function (data) {
                $('#users li.collection-item').remove();
                data.forEach(function (item, number, data) {
                    $('#users').append('<li id=' + item +
                        ' class="collection-item">' + item + '</li>');
                });
            });

            socket.on('disconnected_user', function (data) {
                $('#' + data.userId).remove();
            });

            $('#users').on('click', 'li', function (e) {
                var parent = $(this).parent();

                parent.children('li').each(function (index, element) {
                    $(element).removeClass('active')
                });

                $(this).addClass('active');
            });

        });
    </script>
</body>

</html>