<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Socket.IO chat</title>
    <link rel="stylesheet" ref="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <main class="container">
        <div class="row">
            <aside class="col l3">
                <ul id="users"class="collection with-header">
                    <li class="collection-header">Пользователи</li>
                </ul>
            </aside>
            <section class="col l9">
                <ul id="messages"></ul>
                </ul>
            </section>
        </div>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</body>

</html>